<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="A cool thing made with MongoDB">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener Microservice
      </h1>
    </header>
    <section>
      <p>
        Pass a URL to shorten like so: https://fearless-flock.glitch.me/new/http://www.google.com/
      </p>
      <p>
        Then just copy and paste the shortened url into your browser, and you should be redirected!
      </p>
    </section>
  </body>
</html>